/var/log/nginx/*log {
    create 0644 nginx nginx
    daily
    dateext
    rotate {{ log_keep_days }}
    missingok
    notifempty
    compress
    sharedscripts
    postrotate
        /bin/kill -USR1 `cat /run/nginx.pid 2>/dev/null` 2>/dev/null || true
    endscript
}
