user nginx;
worker_processes {{ nginx_worker_processes }};
worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections {{ nginx_worker_connections }};
    multi_accept on;
}

http {

	##
	# Basic Settings
	##

{% if env != 'vagrant' %}
	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
{% endif %}

    open_file_cache {{ nginx_open_file_cache }};

	keepalive_timeout {{ nginx_keepalive_timeout }};
	types_hash_max_size 2048;
	server_tokens off;

	# server_names_hash_bucket_size 64;
	# server_name_in_redirect off;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	##
	# Logging Settings
	##

    log_format ltsv "time:$time_iso8601"
                    "\tuid:$uid_got"
                    "\thost:$remote_addr"
                    "\tforwardedfor:$http_x_forwarded_for"
                    "\treq:$request"
                    "\tstatus:$status"
                    "\tsize:$body_bytes_sent"
                    "\treferer:$http_referer"
                    "\tua:$http_user_agent"
                    "\treqtime:$request_time"
                    "\tapptime:$upstream_response_time"
                    "\truntime:$upstream_http_x_runtime"
                    "\tcache:$upstream_http_x_cache";

	access_log /var/log/nginx/nginx_access.log;
	error_log /var/log/nginx/nginx_error.log;


	##
	# Virtual Host Configs
	##

	include /etc/nginx/conf.d/*.conf;
}
