
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

$brand-color-primary: #FF7400;
$brand-color-second: #006363;

$light-primary-color: #FFF6F0;

$base-font-color: $brand-color-second;

$primary-font-color: $brand-color-second;

$link-color: darken($brand-color-second, 10%);
$link-hover-color: lighten($link-color, 10%);
$link-visited-color: darken($brand-color-second, 10%);


$header-background-color: $brand-color-primary;
$header-font-color: #fff;
$header-height: 85px;

$side-menu-background-color: $brand-color-second;
$side-menu-width: 250px;
$side-menu-small-width: 45px;

$frame-background-color: $light-primary-color;
$frame-border: 1px solid #FFE0CC;

$heading1-height: 50px;
$heading1-font-size: 30pt;
$heading1-font-color: $brand-color-second;

$heading2-height: 50px;
$heading2-background-color: $light-primary-color;
$heading2-font-size: 20pt;
$heading2-font-color: $brand-color-second;

$table-head-color: #FF9640;
$table-border-color: darken($table-head-color, 30%);
$table-font-color: $primary-font-color;

$small-table-border-color: #FFF;
$small-table-background-color: $light-primary-color;
$small-table-font-color: lighten($primary-font-color, 10%);
