
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'imports';

@import "~material-design-icons-iconfont/dist/material-design-icons.css";


.clear-fix::after {
    clear: both;
    content: "";
    display: block;
}


.container {
    min-height: 100vh;
}

main {
    width: calc(100vw - #{$side-menu-width});
    padding-top: $header-height + 10px;
    padding-left: $side-menu-width + 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: auto;
    overflow: auto;
}

.side-wrapper {
    top: $header-height;
    left: $side-menu-width;
    width: 100%;
    height: 100vh;

    transition: margin-left 0.3s;
    .item {
        width: calc(#{$side-menu-width} - 20px);
    }

    .menu-content {
        display: block;
        opacity: 1;
        width: $side-menu-width;
    }
    .menu-content-small {
        display: none;
        opacity: 0;
        width: $side-menu-small-width;
    }

}

.side-hide {
    //margin-left: $side-menu-small-width;
    transition: margin-left, width, left 0.3s;
    left: $side-menu-small-width;

    main {
        padding-left: $side-menu-small-width;
    }

    aside {
        width: $side-menu-small-width;
        transition: width 0.3s;

        .item {
            width: $side-menu-small-width - 20px;
        }
        .menu-content {
            display: none;
            opacity: 0;
            transition: opacity 0.3s;
        }
        .menu-content-small {
            display: block;
            opacity: 1;
        }
    }

}
