html {
    box-sizing: border-box;
    color: $base-font-color;
}

* {
    box-sizing: inherit;
    margin: 0;
    color: inherit;
}


a {
    color: $link-color;
}
a:hover {
    color: $link-hover-color;
}
a:visited {
    color: $link-visited-color;
}

.frame {
    background-color: $frame-background-color;
    border: 1px solid #FFE0CC;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.2);

}

.text-box {
    border: 1px solid lighten($brand-color-second, 10%);
    box-shadow: 1px 1px 0 rgba(0,0,0, 0.2);
    padding: 5px;
}

.invalid-feedback {
    color: #f00;
    font-size: 0.8rem;
}

.button {
    background-color: lighten($brand-color-primary, 20%);
    color: $brand-color-second;
    font-weight: bold;
    border: 1px solid lighten($brand-color-primary, 10%);
    box-shadow: 3px 3px 0 rgba(0,0,0, 0.2);
    padding: 5px 10px;
}

.button:disabled {
    background-color: grayscale(lighten($brand-color-primary, 20%));
    color: grayscale($brand-color-second);
    font-weight: bold;
    border: 1px solid grayscale(lighten($brand-color-primary, 10%));
    box-shadow: 3px 3px 0 rgba(0,0,0, 0.2);
    padding: 5px 10px;
}

.command-button {
    display: inline-block;
    background-color: $light-primary-color;
    border: darken($light-primary-color, 10%);
    padding: 5px 10px;
    box-shadow: 1px 1px 0 rgba(0,0,0, 0.2);
    margin-bottom: 5px;
    color: $base-font-color;
    cursor: pointer;

    .icon {
        margin-right: 10px;
    }
}

.command-button:hover {
    background-color: darken($light-primary-color, 5%);
    color: darken($base-font-color, 5%);
}

.heading-1 {
    height: $heading1-height;
    font-size: $heading1-font-size;
    font-weight: bold;
    text-decoration: underline;
    color: $heading1-font-color;
    margin-bottom: 30px;
}

.heading-2 {
    background-color: $heading2-background-color;
    border: 1px solid darken($heading2-background-color, 5%);
    box-shadow: 3px 3px 0 rgba(0,0,0, 0.2);
    height: $heading2-height;
    font-size: $heading2-font-size;
    font-weight: bold;
    color: $heading2-font-color;
    line-height: 2;
    padding-left: 10px;
    margin-bottom: 20px;
}


.list-table {
    border-collapse: collapse;
    border-spacing: 1px;
    border: solid 1px darken($brand-color-primary, 10%);
    width: 100%;

    th {
        background-color: $table-head-color;
        border: solid 1px $table-border-color;
        padding: 5px;
        color: $table-font-color;
        font-weight: bold;
    }
    td {
        background-color: #fff;
        border: solid 1px $table-border-color;
        padding: 5px;
    }

}

.small-table {
    border-collapse: separate;
    border-spacing: 2px;
    border: solid 1px $small-table-border-color;
    width: 100%;

    td {
        background-color: $small-table-background-color;
        border: solid 1px #fff;
        padding: 5px;
        color: $small-table-font-color;
    }
}


.stat-number-box {
    display: table;
    width: 100%;
    height: 100%;
}

.stat-number {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    font-size: 120px;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}


.col-number {
    text-align: right;
}

.col-icons {
    text-align: center;
    vertical-align: middle;
}

.col-checkbox {
    text-align: center;
    vertical-align: middle;
}
