
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'imports';

@import "~material-design-icons-iconfont/dist/material-design-icons.css";

.guest-home-container {

    background: #ffe7d6;
    background: -moz-linear-gradient(-45deg,  #ffe7d6 0%, #ffffff 12%, #fdffff 12%, #ffd7ba 100%);
    background: -webkit-linear-gradient(-45deg,  #ffe7d6 0%,#ffffff 12%,#fdffff 12%,#ffd7ba 100%);
    background: linear-gradient(135deg,  #ffe7d6 0%,#ffffff 12%,#fdffff 12%,#ffd7ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe7d6', endColorstr='#ffd7ba',GradientType=1 );

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;

    .logo {
        margin-top: 100px;
        background-image: url("../images/logo-full.png");
        height: 328px;
        width: 328px;
    }
    form {
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin-top: 10px;

        .row {
            display: flex;
            justify-content: flex-start;
            align-content: center;
            padding: 10px;

            .col-header {
                width: 120px;
            }
            .col {
            }
            .col-center {
                width: 100px;
            }
        }
    }

}

