/var/log/mysql/mysql_error.log
/var/lib/mysql/general.log
/var/lib/mysql/slow.log {
    create 644 mysql mysql
    daily
    dateext
    rotate {{ log_keep_days }}
    notifempty
    missingok
    postrotate
       # just if mysqld is really running
       if test -x /usr/bin/mysqladmin && \
          /usr/bin/mysqladmin ping &>/dev/null
       then
          /usr/bin/mysqladmin flush-logs
       fi
    endscript
}
