server {
  listen *:80 default_server reuseport backlog={{ nginx_listen_backlog }};

  access_log  /var/log/nginx/access.log ltsv;
  error_log   /var/log/nginx/error.log;

  root {{ document_root }};

  client_max_body_size {{ nginx_client_max_body_size }};
  client_body_buffer_size {{ nginx_client_body_buffer_size }};

  proxy_buffer_size {{ nginx_proxy_buffer_size }};
  proxy_buffers {{ nginx_proxy_buffers }};
  proxy_max_temp_file_size {{ nginx_proxy_max_temp_file_size }};
  proxy_connect_timeout {{ nginx_proxy_connect_timeout }};
  proxy_send_timeout {{ nginx_proxy_send_timeout }};
  proxy_read_timeout {{ nginx_proxy_read_timeout }};

  location / {
    index index.php;
    try_files $uri $uri/ /index.php?$query_string;
  }

  location = /status {
    allow 127.0.0.1;
    deny all;
    fastcgi_pass unix:/run/php7.2-fpm.sock;
    fastcgi_param SCRIPT_FILENAME $fastcgi_script_name;
    include fastcgi_params;
  }


  location /index.php {
    fastcgi_pass unix:/run/php7.2-fpm.sock;
    fastcgi_param  SCRIPT_FILENAME  $realpath_root/index.php;
    include fastcgi_params;
  }

  gzip on;
  gzip_static  on;
  gzip_types 'text/plain'
             'text/html'
             'text/css'
             'text/javascript'
             'application/javascript'
             'application/json';
  gzip_proxied any;


  # 各リクエストにユーザーを識別するCookieを発行する
  userid          on;
  userid_name     wl_track_id;
  userid_path     /;
  userid_expires  365d;
}
